# Server
PORT=5000
NODE_ENV=development
CLIENT_URL=http://localhost:3000

# Database (MySQL)
DB_HOST=localhost
DB_PORT=3306
DB_NAME=smartserve
DB_USER=root
DB_PASSWORD=20F61A0495@l

# JWT
JWT_SECRET=dnk-smartserve-pos-super-secret-key-change-in-production-2026
JWT_EXPIRES_IN=7d
JWT_REFRESH_SECRET=dnk-smartserve-refresh-secret-key-change-in-production-2026
JWT_REFRESH_EXPIRES_IN=30d
